absl-py @ file:///build/absl-py-1.0.0/dist/absl_py-1.0.0-py3-none-any.whl
aiodns @ file:///build/source/dist/aiodns-3.0.0-py3-none-any.whl
aiohttp @ file:///build/aiohttp-3.8.1/dist/aiohttp-3.8.1-cp39-cp39-linux_x86_64.whl
aiosignal @ file:///build/source/dist/aiosignal-1.2.0-py3-none-any.whl
antlr4-python3-runtime==4.9.3
anyascii @ file:///build/anyascii-0.3.0/dist/anyascii-0.3.0-py3-none-any.whl
appdirs @ file:///build/appdirs-1.4.4/dist/appdirs-1.4.4-py2.py3-none-any.whl
argon2-cffi @ file:///build/argon2-cffi-21.3.0/dist/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings @ file:///build/argon2-cffi-bindings-21.2.0/dist/argon2_cffi_bindings-21.2.0-cp39-abi3-linux_x86_64.whl
asgiref @ file:///build/source/dist/asgiref-3.5.0-py3-none-any.whl
astor @ file:///build/astor-0.8.1/dist/astor-0.8.1-py2.py3-none-any.whl
asttokens @ file:///build/asttokens-2.0.5/dist/asttokens-2.0.5-py2.py3-none-any.whl
astunparse @ file:///build/astunparse-1.6.3/dist/astunparse-1.6.3-py2.py3-none-any.whl
async-generator @ file:///build/async_generator-1.10/dist/async_generator-1.10-py3-none-any.whl
async-timeout @ file:///build/async-timeout-4.0.2/dist/async_timeout-4.0.2-py3-none-any.whl
attrs @ file:///build/attrs-21.4.0/dist/attrs-21.4.0-py2.py3-none-any.whl
audioread @ file:///build/audioread-2.1.9/dist/audioread-2.1.9-py3-none-any.whl
Babel @ file:///build/Babel-2.10.1/dist/Babel-2.10.1-py3-none-any.whl
backcall @ file:///build/backcall-0.2.0/dist/backcall-0.2.0-py3-none-any.whl
backports.entry-points-selectable @ file:///build/backports.entry_points_selectable-1.1.1/dist/backports.entry_points_selectable-1.1.1-py2.py3-none-any.whl
bcrypt @ file:///build/bcrypt-3.2.0/dist/bcrypt-3.2.0-cp39-cp39-linux_x86_64.whl
beautifulsoup4 @ file:///build/beautifulsoup4-4.11.1/dist/beautifulsoup4-4.11.1-py3-none-any.whl
bleach @ file:///build/bleach-5.0.0/dist/bleach-5.0.0-py3-none-any.whl
blinker @ file:///build/blinker-1.4/dist/blinker-1.4-py3-none-any.whl
Brotli @ file:///build/source/dist/Brotli-1.0.9-cp39-cp39-linux_x86_64.whl
brotlicffi @ file:///build/source/dist/brotlicffi-1.0.9.2-cp39-abi3-linux_x86_64.whl
cachetools @ file:///build/source/dist/cachetools-5.0.0-py3-none-any.whl
cchardet @ file:///build/cchardet-2.1.7/dist/cchardet-2.1.7-cp39-cp39-linux_x86_64.whl
certifi @ file:///build/source/dist/certifi-2021.10.8-py2.py3-none-any.whl
cffi @ file:///build/cffi-1.15.0/dist/cffi-1.15.0-cp39-cp39-linux_x86_64.whl
chardet @ file:///build/chardet-4.0.0/dist/chardet-4.0.0-py2.py3-none-any.whl
charset-normalizer @ file:///build/source/dist/charset_normalizer-2.0.12-py3-none-any.whl
click @ file:///build/click-8.1.3/dist/click-8.1.3-py3-none-any.whl
convertdate @ file:///build/source/dist/convertdate-2.4.0-py3-none-any.whl
coqpit @ file:///build/source/dist/coqpit-0.0.16-py3-none-any.whl
coqui-trainer @ file:///build/source/dist/coqui_trainer-0.0.5-py3-none-any.whl
cryptography @ file:///build/cryptography-36.0.2/dist/cryptography-36.0.2-cp39-cp39-linux_x86_64.whl
cycler @ file:///build/cycler-0.11.0/dist/cycler-0.11.0-py3-none-any.whl
cymem @ file:///build/source/dist/cymem-2.0.3-cp39-cp39-linux_x86_64.whl
Cython @ file:///build/Cython-0.29.28/dist/Cython-0.29.28-cp39-cp39-linux_x86_64.whl
dateparser @ file:///build/source/dist/dateparser-1.1.1-py2.py3-none-any.whl
decorator @ file:///build/decorator-5.1.1/dist/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///build/defusedxml-0.7.1/dist/defusedxml-0.7.1-py2.py3-none-any.whl
distlib @ file:///build/distlib-0.3.4/dist/distlib-0.3.4-py3-none-any.whl
docopt @ file:///build/docopt-0.6.2/dist/docopt-0.6.2-py2.py3-none-any.whl
docutils @ file:///build/docutils-0.18.1/dist/docutils-0.18.1-py2.py3-none-any.whl
entrypoints @ file:///build/entrypoints-0.4/dist/entrypoints-0.4-py3-none-any.whl
executing @ file:///build/source/dist/executing-0.8.2-py2.py3-none-any.whl
fasttext @ file:///build/source/dist/fasttext-0.9.2-cp39-cp39-linux_x86_64.whl
filelock @ file:///build/filelock-3.6.0/dist/filelock-3.6.0-py3-none-any.whl
Flask @ file:///build/Flask-2.1.2/dist/Flask-2.1.2-py3-none-any.whl
flatbuffers @ file:///build/source/python/dist/flatbuffers-2.0.0-py2.py3-none-any.whl
fonttools @ file:///build/source/dist/fonttools-4.33.3-py3-none-any.whl
frozenlist @ file:///build/source/dist/frozenlist-1.3.0-cp39-cp39-linux_x86_64.whl
fsspec @ file:///build/source/dist/fsspec-2022.3.0-py3-none-any.whl
future @ file:///build/future-0.18.2/dist/future-0.18.2-py3-none-any.whl
gast @ file:///build/source/dist/gast-0.5.3-py3-none-any.whl
gdown @ file:///build/gdown-4.4.0/dist/gdown-4.4.0-py3-none-any.whl
google-auth @ file:///build/google-auth-2.6.2/dist/google_auth-2.6.2-py2.py3-none-any.whl
google-auth-oauthlib @ file:///build/google-auth-oauthlib-0.5.1/dist/google_auth_oauthlib-0.5.1-py2.py3-none-any.whl
google-pasta @ file:///build/google-pasta-0.2.0/dist/google_pasta-0.2.0-py3-none-any.whl
grpcio @ file:///build/source/dist/grpcio-1.46.3-cp39-cp39-linux_x86_64.whl
gruut @ file:///build/source/dist/gruut-2.2.2-py3-none-any.whl
gruut-ipa @ file:///build/source/dist/gruut_ipa-0.13.0-py3-none-any.whl
gruut-lang-ar @ file:///build/source/gruut-lang-ar/dist/gruut_lang_ar-2.0.1-py3-none-any.whl
gruut-lang-cs @ file:///build/source/gruut-lang-cs/dist/gruut_lang_cs-2.0.1-py3-none-any.whl
gruut-lang-de @ file:///build/source/gruut-lang-de/dist/gruut_lang_de-2.0.1-py3-none-any.whl
gruut-lang-en @ file:///build/source/gruut-lang-en/dist/gruut_lang_en-2.0.1-py3-none-any.whl
gruut-lang-es @ file:///build/source/gruut-lang-es/dist/gruut_lang_es-2.0.1-py3-none-any.whl
gruut-lang-fa @ file:///build/source/gruut-lang-fa/dist/gruut_lang_fa-2.0.1-py3-none-any.whl
gruut-lang-fr @ file:///build/source/gruut-lang-fr/dist/gruut_lang_fr-2.0.1-py3-none-any.whl
gruut-lang-it @ file:///build/source/gruut-lang-it/dist/gruut_lang_it-2.0.1-py3-none-any.whl
gruut-lang-lb @ file:///build/source/gruut-lang-lb/dist/gruut_lang_lb-2.0.1-py3-none-any.whl
gruut-lang-nl @ file:///build/source/gruut-lang-nl/dist/gruut_lang_nl-2.0.1-py3-none-any.whl
gruut-lang-pt @ file:///build/source/gruut-lang-pt/dist/gruut_lang_pt-2.0.1-py3-none-any.whl
gruut-lang-ru @ file:///build/source/gruut-lang-ru/dist/gruut_lang_ru-2.0.1-py3-none-any.whl
gruut-lang-sv @ file:///build/source/gruut-lang-sv/dist/gruut_lang_sv-2.0.1-py3-none-any.whl
gruut-lang-sw @ file:///build/source/gruut-lang-sw/dist/gruut_lang_sw-2.0.1-py3-none-any.whl
gssapi @ file:///build/source/dist/gssapi-1.7.3-cp39-cp39-linux_x86_64.whl
gviz-api @ file:///build/dist/gviz_api-1.10.0-py2.py3-none-any.whl
h5py @ file:///build/h5py-3.6.0/dist/h5py-3.6.0-cp39-cp39-linux_x86_64.whl
hijri-converter @ file:///build/hijri-converter-2.2.3/dist/hijri_converter-2.2.3-py3-none-any.whl
html5lib @ file:///build/html5lib-1.1/dist/html5lib-1.1-py2.py3-none-any.whl
idna @ file:///build/idna-3.3/dist/idna-3.3-py3-none-any.whl
importlib-metadata @ file:///build/importlib_metadata-4.11.3/dist/importlib_metadata-4.11.3-py3-none-any.whl
inflect @ file:///build/inflect-5.4.0/dist/inflect-5.4.0-py3-none-any.whl
ipykernel @ file:///build/ipykernel-6.12.1/dist/ipykernel-6.12.1-py3-none-any.whl
ipython @ file:///build/ipython-8.2.0/dist/ipython-8.2.0-py3-none-any.whl
ipython-genutils @ file:///build/ipython_genutils-0.2.0/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///build/ipywidgets-7.7.0/dist/ipywidgets-7.7.0-py2.py3-none-any.whl
itsdangerous @ file:///build/itsdangerous-2.1.2/dist/itsdangerous-2.1.2-py3-none-any.whl
jedi @ file:///build/source/dist/jedi-0.18.1-py2.py3-none-any.whl
jieba @ file:///build/source/dist/jieba-0.42.1-py3-none-any.whl
Jinja2 @ file:///build/Jinja2-3.1.2/dist/Jinja2-3.1.2-py3-none-any.whl
joblib @ file:///build/joblib-1.1.0/dist/joblib-1.1.0-py2.py3-none-any.whl
jsonlines @ file:///build/source/dist/jsonlines-3.0.0-py3-none-any.whl
jsonschema @ file:///build/jsonschema-4.5.1/dist/jsonschema-4.5.1-py3-none-any.whl
jupyter @ file:///build/jupyter-1.0.0/dist/jupyter-1.0.0-py2.py3-none-any.whl
jupyter-client @ file:///build/jupyter_client-7.2.1/dist/jupyter_client-7.2.1-py3-none-any.whl
jupyter-console @ file:///build/jupyter_console-6.4.3/dist/jupyter_console-6.4.3-py3-none-any.whl
jupyter-core @ file:///build/jupyter_core-4.9.2/dist/jupyter_core-4.9.2-py3-none-any.whl
jupyterlab-pygments @ file:///build/source/dist/jupyterlab_pygments-0.1.2-py2.py3-none-any.whl
jupyterlab-widgets @ file:///build/jupyterlab_widgets-2.0.0b1/dist/jupyterlab_widgets-2.0.0b1-py3-none-any.whl
Keras-Applications @ file:///build/Keras_Applications-1.0.8/dist/Keras_Applications-1.0.8-py3-none-any.whl
Keras-Preprocessing @ file:///build/Keras_Preprocessing-1.1.2/dist/Keras_Preprocessing-1.1.2-py3-none-any.whl
kiwisolver @ file:///build/kiwisolver-1.4.2/dist/kiwisolver-1.4.2-cp39-cp39-linux_x86_64.whl
langdetect @ file:///build/langdetect-1.0.9/dist/langdetect-1.0.9-py3-none-any.whl
librosa @ file:///build/librosa-0.8.1/dist/librosa-0.8.1-py3-none-any.whl
llvmlite @ file:///build/llvmlite-0.38.0/dist/llvmlite-0.38.0-cp39-cp39-linux_x86_64.whl
lxml @ file:///build/source/dist/lxml-4.8.0-cp39-cp39-linux_x86_64.whl
lz4 @ file:///build/source/dist/lz4-4.0.0-cp39-cp39-linux_x86_64.whl
Markdown @ file:///build/Markdown-3.3.7/dist/Markdown-3.3.7-py3-none-any.whl
MarkupSafe @ file:///build/MarkupSafe-2.1.1/dist/MarkupSafe-2.1.1-cp39-cp39-linux_x86_64.whl
matplotlib @ file:///build/matplotlib-3.5.2/dist/matplotlib-3.5.2-cp39-cp39-linux_x86_64.whl
matplotlib-inline @ file:///build/matplotlib-inline-0.1.3/dist/matplotlib_inline-0.1.3-py3-none-any.whl
mecab-python3 @ file:///build/mecab-python3-1.0.5/dist/mecab_python3-1.0.5-cp39-cp39-linux_x86_64.whl
mistune @ file:///build/mistune-0.8.4/dist/mistune-0.8.4-py2.py3-none-any.whl
mock @ file:///build/mock-4.0.3/dist/mock-4.0.3-py3-none-any.whl
multidict @ file:///build/multidict-6.0.2/dist/multidict-6.0.2-cp39-cp39-linux_x86_64.whl
nbclient @ file:///build/nbclient-0.6.3/dist/nbclient-0.6.3-py3-none-any.whl
nbconvert @ file:///build/nbconvert-6.5.0/dist/nbconvert-6.5.0-py3-none-any.whl
nbformat @ file:///build/nbformat-5.2.0/dist/nbformat-5.2.0-py3-none-any.whl
nest-asyncio @ file:///build/nest_asyncio-1.5.4/dist/nest_asyncio-1.5.4-py3-none-any.whl
networkx @ file:///build/networkx-2.7.1/dist/networkx-2.7.1-py3-none-any.whl
notebook @ file:///build/notebook-6.4.12/dist/notebook-6.4.12-py3-none-any.whl
num2words @ file:///build/num2words-0.5.10/dist/num2words-0.5.10-py3-none-any.whl
numba @ file:///build/numba-0.55.2/dist/numba-0.55.2-cp39-cp39-linux_x86_64.whl
numpy @ file:///build/numpy-1.21.5/dist/numpy-1.21.5-cp39-cp39-linux_x86_64.whl
oauthlib @ file:///build/source/dist/oauthlib-3.2.1-py3-none-any.whl
olefile @ file:///build/olefile-0.46/dist/olefile-0.46-py2.py3-none-any.whl
omegaconf==2.3.0
opt-einsum @ file:///build/opt_einsum-3.3.0/dist/opt_einsum-3.3.0-py3-none-any.whl
packaging @ file:///build/packaging-21.3/dist/packaging-21.3-py3-none-any.whl
pandas @ file:///build/pandas-1.4.2/dist/pandas-1.4.2-cp39-cp39-linux_x86_64.whl
pandocfilters @ file:///build/pandocfilters-1.5.0/dist/pandocfilters-1.5.0-py2.py3-none-any.whl
paramiko @ file:///build/paramiko-2.10.4/dist/paramiko-2.10.4-py2.py3-none-any.whl
parso @ file:///build/parso-0.8.3/dist/parso-0.8.3-py2.py3-none-any.whl
path @ file:///build/path-16.4.0/dist/path-16.4.0-py3-none-any.whl
pathtools @ file:///build/pathtools-0.1.2/dist/pathtools-0.1.2-py3-none-any.whl
pexpect @ file:///build/pexpect-4.8.0/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///build/pickleshare-0.7.5/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///build/Pillow-9.1.0/dist/Pillow-9.1.0-cp39-cp39-linux_x86_64.whl
platformdirs @ file:///build/source/dist/platformdirs-2.5.2-py3-none-any.whl
pooch @ file:///build/pooch-1.6.0/dist/pooch-1.6.0-py3-none-any.whl
prometheus-client @ file:///build/source/dist/prometheus_client-0.13.1-py3-none-any.whl
prompt-toolkit @ file:///build/prompt_toolkit-3.0.28/dist/prompt_toolkit-3.0.28-py3-none-any.whl
protobuf @ file:///build/source/python/dist/protobuf-3.19.5-cp39-cp39-linux_x86_64.whl
psutil @ file:///build/psutil-5.9.0/dist/psutil-5.9.0-cp39-cp39-linux_x86_64.whl
ptyprocess @ file:///build/ptyprocess-0.7.0/dist/ptyprocess-0.7.0-py3-none-any.whl
pure-eval @ file:///build/source/dist/pure_eval-0.2.1-py3-none-any.whl
py @ file:///build/py-1.11.0/dist/py-1.11.0-py2.py3-none-any.whl
pyasn1 @ file:///build/pyasn1-0.4.8/dist/pyasn1-0.4.8-py2.py3-none-any.whl
pyasn1-modules @ file:///build/pyasn1-modules-0.2.8/dist/pyasn1_modules-0.2.8-py2.py3-none-any.whl
PyAudio @ file:///build/PyAudio-0.2.11/dist/PyAudio-0.2.11-cp39-cp39-linux_x86_64.whl
pycares @ file:///build/pycares-4.1.2/dist/pycares-4.1.2-cp39-cp39-linux_x86_64.whl
pycparser @ file:///build/pycparser-2.21/dist/pycparser-2.21-py2.py3-none-any.whl
Pygments @ file:///build/Pygments-2.12.0/dist/Pygments-2.12.0-py3-none-any.whl
PyJWT @ file:///build/PyJWT-2.4.0/dist/PyJWT-2.4.0-py3-none-any.whl
PyMeeus @ file:///build/PyMeeus-0.5.11/dist/PyMeeus-0.5.11-py3-none-any.whl
PyNaCl @ file:///build/PyNaCl-1.5.0/dist/PyNaCl-1.5.0-cp39-cp39-linux_x86_64.whl
pynndescent @ file:///build/pynndescent-0.5.7/dist/pynndescent-0.5.7-py3-none-any.whl
pyOpenSSL @ file:///build/pyOpenSSL-22.0.0/dist/pyOpenSSL-22.0.0-py2.py3-none-any.whl
pyparsing @ file:///build/source/dist/pyparsing-3.0.9-py3-none-any.whl
pypinyin @ file:///build/source/dist/pypinyin-0.46.0-py2.py3-none-any.whl
PyQt5 @ file:///build/PyQt5-5.15.4/dist/PyQt5-5.15.4-cp36-abi3-manylinux1_x86_64.whl
PyQt5-sip @ file:///build/PyQt5_sip-12.9.1/dist/PyQt5_sip-12.9.1-cp39-cp39-linux_x86_64.whl
pyrsistent @ file:///build/pyrsistent-0.18.1/dist/pyrsistent-0.18.1-cp39-cp39-linux_x86_64.whl
pysbd @ file:///build/source/dist/pysbd-0.3.4-py3-none-any.whl
PySocks @ file:///build/PySocks-1.7.1/dist/PySocks-1.7.1-py3-none-any.whl
pyspnego @ file:///build/source/dist/pyspnego-0.5.0-py3-none-any.whl
python-crfsuite @ file:///build/python-crfsuite-0.9.8/dist/python_crfsuite-0.9.8-cp39-cp39-linux_x86_64.whl
python-dateutil @ file:///build/python-dateutil-2.8.2/dist/python_dateutil-2.8.2-py2.py3-none-any.whl
python-dotenv @ file:///build/python-dotenv-0.20.0/dist/python_dotenv-0.20.0-py3-none-any.whl
pytz @ file:///build/pytz-2022.1/dist/pytz-2022.1-py3-none-any.whl
pytz-deprecation-shim @ file:///build/pytz_deprecation_shim-0.1.0.post0/dist/pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl
pyu2f @ file:///build/source/dist/pyu2f-0.1.5-py3-none-any.whl
pyworld @ file:///build/pyworld-0.3.0/dist/pyworld-0.3.0-cp39-cp39-linux_x86_64.whl
PyYAML @ file:///build/source/dist/PyYAML-6.0-cp39-cp39-linux_x86_64.whl
pyzmq @ file:///build/pyzmq-22.3.0/dist/pyzmq-22.3.0-cp39-cp39-linux_x86_64.whl
qtconsole @ file:///build/qtconsole-5.3.0/dist/qtconsole-5.3.0-py3-none-any.whl
QtPy @ file:///build/QtPy-2.0.1/dist/QtPy-2.0.1-py3-none-any.whl
regex @ file:///build/regex-2022.3.2/dist/regex-2022.3.2-cp39-cp39-linux_x86_64.whl
requests @ file:///build/requests-2.27.1/dist/requests-2.27.1-py2.py3-none-any.whl
requests-oauthlib @ file:///build/requests-oauthlib-1.3.1/dist/requests_oauthlib-1.3.1-py2.py3-none-any.whl
resampy @ file:///build/source/dist/resampy-0.2.2-py3-none-any.whl
rsa @ file:///build/rsa-4.8/dist/rsa-4.8-py3-none-any.whl
ruamel.base @ file:///build/ruamel.base-1.0.0/dist/ruamel.base-1.0.0-py3-none-any.whl
ruamel.yaml @ file:///build/ruamel.yaml-0.17.21/dist/ruamel.yaml-0.17.21-py3-none-any.whl
ruamel.yaml.clib @ file:///build/hg-archive/dist/ruamel.yaml.clib-0.2.6-cp39-cp39-linux_x86_64.whl
scikit-learn @ file:///build/scikit-learn-1.0.2/dist/scikit_learn-1.0.2-cp39-cp39-linux_x86_64.whl
SciPy @ file:///build/scipy-1.8.0/dist/SciPy-1.8.0-cp39-cp39-linux_x86_64.whl
Send2Trash @ file:///build/source/dist/Send2Trash-1.8.1b0-py3-none-any.whl
six @ file:///build/six-1.16.0/dist/six-1.16.0-py2.py3-none-any.whl
smbprotocol @ file:///build/source/dist/smbprotocol-1.9.0-py2.py3-none-any.whl
SoundFile @ file:///build/SoundFile-0.10.3.post1/dist/SoundFile-0.10.3.post1-py2.py3-none-any.whl
soupsieve @ file:///build/soupsieve-2.3.1/dist/soupsieve-2.3.1-py3-none-any.whl
spinners @ file:///build/spinners-0.0.24/dist/spinners-0.0.24-py3-none-any.whl
stack-data @ file:///build/source/dist/stack_data-0.2.0-py3-none-any.whl
tensorboard @ file:///build/dist/tensorboard-2.8.0-py3-none-any.whl
tensorboard-data-server @ file:///build/dist/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-profile @ file:///build/dist/tensorboard_plugin_profile-2.5.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///build/dist/tensorboard_plugin_wit-1.7.0-py3-none-any.whl
tensorflow-estimator @ file:///build/dist/tensorflow_estimator-2.8.0-py2.py3-none-any.whl
tensorflow-gpu @ file:///build/tensorflow-gpu-2.8.4-python/dist/tensorflow_gpu-2.8.4-cp39-cp39-linux_x86_64.whl
termcolor @ file:///build/termcolor-1.1.0/dist/termcolor-1.1.0-py3-none-any.whl
terminado @ file:///build/terminado-0.13.3/dist/terminado-0.13.3-py3-none-any.whl
testpath @ file:///build/testpath-0.6.0/dist/testpath-0.6.0-py3-none-any.whl
threadpoolctl @ file:///build/source/dist/threadpoolctl-3.0.0-py3-none-any.whl
tinycss2 @ file:///build/source/dist/tinycss2-1.1.0-py3-none-any.whl
toml @ file:///build/toml-0.10.2/dist/toml-0.10.2-py2.py3-none-any.whl
torch @ file:///build/dist/torch-1.11.0-cp39-cp39-linux_x86_64.whl
torchaudio @ file:///build/dist/torchaudio-0.11.0-cp39-cp39-linux_x86_64.whl
tornado @ file:///build/tornado-6.1/dist/tornado-6.1-cp39-cp39-linux_x86_64.whl
tqdm @ file:///build/tqdm-4.64.0/dist/tqdm-4.64.0-py2.py3-none-any.whl
traitlets @ file:///build/traitlets-5.1.1/dist/traitlets-5.1.1-py3-none-any.whl
TTS @ file:///build/source/dist/TTS-0.6.1-cp39-cp39-linux_x86_64.whl
typing_extensions @ file:///build/typing_extensions-4.1.1/dist/typing_extensions-4.1.1-py3-none-any.whl
tzdata @ file:///build/tzdata-2022.1/dist/tzdata-2022.1-py2.py3-none-any.whl
tzlocal @ file:///build/tzlocal-4.2/dist/tzlocal-4.2-py3-none-any.whl
umap-learn @ file:///build/source/dist/umap_learn-0.5.3-py3-none-any.whl
Unidecode @ file:///build/source/dist/Unidecode-1.3.1-py3-none-any.whl
unidic-lite @ file:///build/unidic-lite-1.0.8/dist/unidic_lite-1.0.8-py3-none-any.whl
urllib3 @ file:///build/urllib3-1.26.9/dist/urllib3-1.26.9-py2.py3-none-any.whl
virtualenv @ file:///build/virtualenv-20.14.0/dist/virtualenv-20.14.0-py2.py3-none-any.whl
wasabi @ file:///build/wasabi-0.9.1/dist/wasabi-0.9.1-py3-none-any.whl
watchdog @ file:///build/watchdog-2.1.8/dist/watchdog-2.1.8-py3-none-any.whl
wcwidth @ file:///build/wcwidth-0.2.5/dist/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///build/webencodings-0.5.1/dist/webencodings-0.5.1-py2.py3-none-any.whl
webrtcvad @ file:///build/webrtcvad-2.0.10/dist/webrtcvad-2.0.10-cp39-cp39-linux_x86_64.whl
Werkzeug @ file:///build/Werkzeug-2.1.2/dist/Werkzeug-2.1.2-py3-none-any.whl
widgetsnbextension @ file:///build/widgetsnbextension-3.6.0/dist/widgetsnbextension-3.6.0-py2.py3-none-any.whl
wrapt @ file:///build/source/dist/wrapt-1.13.3-cp39-cp39-linux_x86_64.whl
yarl @ file:///build/yarl-1.7.2/dist/yarl-1.7.2-cp39-cp39-linux_x86_64.whl
zipp @ file:///build/zipp-3.7.0/dist/zipp-3.7.0-py3-none-any.whl
